.pokemon {
  margin: 0 auto;
  border-radius: 4px;
  border-color: gray;
  width: 100%;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.72);
  background-color: whitesmoke;
  padding: 2rem;
}

.pokemon .header {
  display: flex;
  align-items: center;
  font-size: larger;
  padding: 1rem 0 1rem 1.25rem;
}

.pokemon .header .name {
  text-transform: capitalize;
  font-weight: 500;
}

.pokemon .sprite {
  text-align: center;
}

.pokemon .view-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.pokemon .view-controls button {
  background-color: #1db954;
  color: whitesmoke;
  border-radius: 4px;
  border-style: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.pokemon .view-another-pokemon button:hover {
  background-color: green;
}
