body {
  background-color: #23282d;
}

.App {
  height: 100vh;
}

.loading {
  color: whitesmoke;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}
